
.cat-container {
    width: 300px;
    height: 300px;
    background-image: url('cat.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cat-container.shake {
    animation: shake 0.5s;
}

/* 鼻のクリック可能エリア */
.nose-area {
    position: absolute;
    top: 60%;  /* 猫の鼻の位置に合わせて調整 */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
}
```

## HTML

```html
<div class="cat-container" id="cat">
    <div class="nose-area" id="nose"></div>
</div>
```
