
.cat-container {
    position: relative;
    width:500px;
    height:500px;
    background-image: url('cat.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.cat-container.shake {
    animation: shake 0.5s;
}


.nose-area {
    position: absolute;
    top: 100px; 
    left: 280px;
    width: 50px;
    height: 50px;
    background:yellow;
    opacity:0.1;
    border-radius: 80%;
    cursor: pointer;
}

.nose-area:hover {
    transform: translate(-50%, -50%) scale(1.2);
    background: rgba(255, 255, 255, 0.3);
}


.nose-area:active {
    transform: translate(-50%, -50%) scale(0.5);
}
